{% extends "polls/base.html" %}
{% block  base  %}

    {% if latest_qlist %}
        <div class="col-md-6">
            <table class="table table-bordered">
                <thead>
                <tr>
                    <th>ID</th>
                    <th>问题</th>
                    <th>创建时间</th>
                </tr>
                </thead>
                <tbody>
                {% for question in latest_qlist %}
                <tr>
                    <td>{{ question.id }}</td>
                    <td>
                        <li><a id="{{ question.id }}" href="{% url 'polls:detail' question.id %}"> {{ question.question_text }} </a></li>
                    </td>
                    <td> {{ question.pub_date | date:"Y-m-d H:i:s" }}  </td>
                 </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    {% endif %}
 {#    问题列表#}

{#            url() 函数中通过 name 参数为 URL 定义了名字，你可以使用 {% url %} 标签代替它#}
{#                    <li><a href="{% url 'polls:detail' question.id %}"> {{ question.question_text }} - {{ question.pub_date | date:"Y-m-d H:i:s" }}  </a></li>#}

{% endblock   %}